{#
/**
 * @file fitting.html.twig
 * Default theme implementation to present Fitting data.
 *
 * This template is used when viewing Fitting pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fitting()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fitting') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
