{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup themeable
 * template for role_menu module block.
 */
#}
{% import _self as menus %}

{%
set nav_classes = [
  'sidebar-menu',
]
%}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes.addClass(nav_classes), 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <ul class="treeview-menu">
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.below ? 'treeview',
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">
        {% if item.icon %}
          <i class="{{ item.icon }}"></i>
        {% endif %}
        <span>{{ item.title }}</span>
        {% if item.below %}
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        {% endif %}
        </a>

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass('sidebar-menu'), menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
