.admin-header-right .operate li a,
.admin-header-right .operate i,
.admin-main-left .admincj_nav .current .tit,
.fold .admin-main-left .admincj_nav .item:hover .tit,
.admin-main-left .admincj_nav .item .curr a,
.contentWarp .section .sc_icon, i.ice, .stop,
i.sc_icon, .explanation .ex_tit span, i.ico-check,
.search .input .btn, .search .input .not_btn,
.search .select_btn, .switch, .switch .circle,
.s-back, .sort_point, .text_time .selbtn, .addList,
.move_point {
  background: url(../images/admin-icon.png) no-repeat;
}
.explanation {
  padding: 11px 13px;
  color: #707070;
  border-radius: 5px;
  background-color: #f5faff;
  border: 1px dashed #62b3ff;
  width: calc(100% - 28px);
  height: 100%;
  .ex_tit {
    color: #62b3ff;
    position: relative;
    line-height: 20px;
    margin-bottom: 10px;
    .sc_icon {
      position: absolute;
      background-position: -84px -328px;
      width: 20px;
      height: 20px;
      left: 0;
    }
    h4 {
      font-weight: normal;
      padding-left: 30px;
      font-size: 14px;
      float: left;
    }
    span {
      position: absolute;
      background-position: 0 -359px;
      width: 28px;
      height: 28px;
      top: -12px;
      right: -14px;
      cursor: pointer;
      &.shopUp {
        background-position: -40px -359px;
      }
    }
    &:after {
      content: ' ';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
    }
  }
  ul {
    overflow: hidden;
    padding-left: 35px;
    li {
      line-height: 20px;
      background: url(../images/arrow.png) 0 8px no-repeat;
      padding-left: 10px;
      margin-bottom: 5px;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    }
  }
}