{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes.addClass('fl'), 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div {{ attributes }}>
    {% else %}
      <div>
    {% endif %}
        <div {{ attributes.addClass('txt-info').removeClass('fl') }}>
    {% for item in items %}
        {{ link(item.title, item.url) }}
{#        {% if item.below %}#}
{#          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}#}
{#        {% endif %}#}
    {% endfor %}
        </div>
    </div>
  {% endif %}
{% endmacro %}
