{#
/**
 * @file room.html.twig
 * Default theme implementation to present Machine Room data.
 *
 * This template is used when viewing Machine Room pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_room()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('room') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
