{#
/**
 * @file
 * Default theme implementation to display a tree.
 *
 * Returns HTML for a wrapper for a sub-tree.
 *
 * Available variables:
 * - items: A nested list of items. Each item contains:
 *   - attributes: HTML attributes for the item.
 *   - below: The item child items.
 *   - title: The link title.
 *   - url: The link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     tree.
 *   - is_collapsed: TRUE if the link has children within the current tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as tree %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ tree.links(items, attributes, 0) }}

{% macro links(items, attributes, menu_level) %}
  {% import _self as tree %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu') }}>
    {% else %}
      <ul class="menu">
    {% endif %}
    {% for item in items %}
      {%
      set classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
      ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ tree.links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
