{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% if page.top %}
  <div class="content site-nav" id="site-nav">
    <div class="w w1390">
      {{ page.top }}
    </div>
  </div>
{% endif %}
{% if page.header %}
  {{ attach_library('exmall/page-header') }}
  <div class="header">
    <div class="w w1390">
      {{ page.header }}
    </div>
  </div>
{% endif %}


<div class="nav dsc-zoom" ectype="dscNav">
  <div class="w w1200">
    <div class="categorys site-mast">
      <div class="categorys-type"><a href="categoryall.php" target="_blank">全部商品分类</a></div>
      <div class="categorys-tab-content">
        <div class="categorys-items" id="cata-nav">
          <div class="categorys-item" ectype="cateItem" data-id="858" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-ele"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=858" target="_blank">家用电器</a>
                </strong>
                <span>
                                                            <a href="category.php?id=1105" target="_blank">大家电</a>

                                                            <a href="category.php?id=1115" target="_blank">生活电器</a>




                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_858"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="3" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-digital"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=33" target="_blank" class="division_cat">手机</a>、<a href="category.php?id=64" target="_blank" class="division_cat">数码</a>、<a href="category.php?id=37" target="_blank" class="division_cat">通信</a>                                </strong>
                <span>
                                                            <a href="category.php?id=112" target="_blank">智能设备</a>

                                                            <a href="category.php?id=76" target="_blank">数码配件</a>






                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_3"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="4" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-computer"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=4" target="_blank">电脑、办公</a>
                </strong>
                <span>
                                                            <a href="category.php?id=158" target="_blank">服务产品</a>

                                                            <a href="category.php?id=132" target="_blank">电脑整机</a>





                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_4"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="5" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-bed"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=5" target="_blank">家居、家具、家装、厨具</a>
                </strong>
                <span>
                                                            <a href="category.php?id=143" target="_blank">厨具</a>

                                                            <a href="category.php?id=159" target="_blank">家装建材</a>





                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_5"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="6" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-clothes"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=6" target="_blank">男装、女装、内衣</a>
                </strong>
                <span>
                                                            <a href="category.php?id=347" target="_blank">女装</a>

                                                            <a href="category.php?id=463" target="_blank">男装</a>




                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_6"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="8" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-shoes"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=8" target="_blank">鞋靴、箱包、钟表、奢侈品</a>
                </strong>
                <span>
                                                            <a href="category.php?id=362" target="_blank">奢侈品</a>

                                                            <a href="category.php?id=360" target="_blank">功能箱包</a>






                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_8"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="categorys-item" ectype="cateItem" data-id="860" data-eveval="0">
            <div class="item item-content">
              <i class="iconfont icon-heal"></i>
              <div class="categorys-title">
                <strong>
                  <a href="category.php?id=860" target="_blank">个人化妆、清洁用品</a>
                </strong>
                <span>
                                                            <a href="category.php?id=876" target="_blank">面部护肤</a>

                                                            <a href="category.php?id=880" target="_blank">洗发护发</a>






                                    </span>
              </div>
            </div>
            <div class="categorys-items-layer" ectype="cateLayer">
              <div class="cate-layer-con clearfix" ectype="cateLayerCon_860"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>            </div>
    </div>
    <div class="nav-main" id="nav">
      <ul class="navitems">
        <li><a href="index.php" class="curr">首页</a></li>
        <li><a href="category.php?id=12" target="_blank">食品特产</a></li>
        <li><a href="store_street.php">店铺街</a></li>
        <li><a href="presale.php">预售</a></li>
        <li><a href="news.php">CMS频道</a></li>
        <li><a href="brand.php">品牌专区</a></li>
        <li><a href="group_buy.php">聚划算</a></li>
        <li><a href="exchange.php">积分商城</a></li>
        <li><a href="category.php?id=858">大家电</a></li>
        <li><a href="category.php?id=6">服装城</a></li>
        <li><a href="category.php?id=8">鞋靴箱包</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="full-main-n">
  <div class="w w1200 relative">
    <div class="crumbs-nav">
      <div class="crumbs-nav-main clearfix">
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger">
              <a href="category.php?id=858"><span>家用电器</span></a>
              <i class="iconfont icon-down"></i>
            </div>
            <div class="menu-drop-main">
              <ul>
                <li><a href="category.php?id=1105">大家电</a></li>
                <li><a href="category.php?id=1115">生活电器</a></li>
                <li><a href="category.php?id=1129">厨房电器</a></li>
                <li><a href="category.php?id=1145">个护健康</a></li>
                <li><a href="category.php?id=1160">五金家装</a></li>
              </ul>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger">
              <a href="category.php?id=1105"><span>大家电</span></a>
              <i class="iconfont icon-down"></i>
            </div>
            <div class="menu-drop-main">
              <ul>
                <li><a href="category.php?id=1106">平板电视</a></li>
                <li><a href="category.php?id=1107">空调</a></li>
                <li><a href="category.php?id=1108">冰箱</a></li>
                <li><a href="category.php?id=1109">洗衣机</a></li>
                <li><a href="category.php?id=1110">家庭影院</a></li>
                <li><a href="category.php?id=1111">DVD</a></li>
                <li><a href="category.php?id=1112">迷你音响</a></li>
                <li><a href="category.php?id=1113">热水器</a></li>
                <li><a href="category.php?id=1114">冷吧/冰柜</a></li>
              </ul>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger">
              <a href="category.php?id=1106"><span>平板电视</span></a>
              <i class="iconfont icon-down"></i>
            </div>
            <div class="menu-drop-main">
              <ul>
                <li><a href="category.php?id=1475">乐视电视</a></li>
              </ul>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <span class="cn-goodsName">Skyworth/创维 55V9E 55吋4K超高清智能网络平板LED液晶电视机 50 25核智能 4K超高清 人气爆款</span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  {{ page.content }}
</div>

<div class="mui-mbar-tabs">
  <div class="quick_links_wrap" style="width: 40px;"><div class="quick_link_mian" data-userid="0">
      <div class="quick_links_panel">
        <div id="quick_links" class="quick_links">
          <ul>
            <li>
              <a href="user.php"><i class="setting"></i></a>
              <div class="ibar_login_box status_login">
                <div class="avatar_box">
                  <p class="avatar_imgbox">
                    <img src="themes/ecmoban_dsc2017/images/touxiang.jpg" width="100" height="100">
                  </p>
                  <ul class="user_info">
                    <li>用户名：暂无</li>
                    <li>级&nbsp;别：暂无</li>
                  </ul>
                </div>
                <div class="login_btnbox">
                  <a href="user.php?act=order_list" class="login_order">我的订单</a>
                  <a href="user.php?act=collection_list" class="login_favorite">我的收藏</a>
                </div>
                <i class="icon_arrow_white"></i>
              </div>
            </li>

            <li id="shopCart">
              <a href="javascript:void(0);" class="cart_list">
                <i class="message"></i>
                <div class="span">购物车</div>
                <span class="cart_num">0</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_order"><i class="chongzhi"></i></a>
              <div class="mp_tooltip">
                <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">我的订单</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_yhq"><i class="yhq"></i></a>
              <div class="mp_tooltip">
                <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">优惠券</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_total"><i class="view"></i></a>
              <div class="mp_tooltip" style=" visibility:hidden;">
                <font id="mpbtn_myMoney" style="font-size:12px; cursor:pointer;">我的资产</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_history"><i class="zuji"></i></a>
              <div class="mp_tooltip">
                <font id="mpbtn_histroy" style="font-size:12px; cursor:pointer;">我的足迹</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_collection"><i class="wdsc"></i></a>
              <div class="mp_tooltip">
                <font id="mpbtn_wdsc" style="font-size:12px; cursor:pointer;">我的收藏</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
            <li>
              <a href="javascript:void(0);" class="mpbtn_email"><i class="email"></i></a>
              <div class="mp_tooltip">
                <font id="mpbtn_email" style="font-size:12px; cursor:pointer;">邮箱订阅</font>
                <i class="icon_arrow_right_black"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="quick_toggle quick_links_allow_gotop">
          <ul>
            <li>


              <a id="IM" im_type="dsc" onclick="openWin(this)" href="javascript:;"><i class="kfzx"></i></a>
              <div class="mp_tooltip">客服中心<i class="icon_arrow_right_black"></i></div>

            </li>
            <li class="returnTop">
              <a href="javascript:void(0);" class="return_top"><i class="top"></i></a>
            </li>
          </ul>

        </div>
      </div>
      <div id="quick_links_pop" class="quick_links_pop"></div>
    </div>
  </div>
</div>

<div class="email_sub">
  <div class="attached_bg"></div>
  <div class="w1200">
    <div class="email_sub_btn">
      <input type="input" id="user_email" name="user_email" autocomplete="off" placeholder="请输入您的邮箱帐号">
      <a href="javascript:void(0);" onclick="add_email_list();" class="emp_btn">订阅</a>
      <a href="javascript:void(0);" onclick="cancel_email_list();" class="emp_btn emp_cancel_btn">退订</a>
    </div>
  </div>
</div>

<div class="footer-new">
  <div class="footer-new-top">
    <div class="w w1200">
      <div class="service-list">
        <div class="service-item">
          <i class="f-icon f-icon-qi"></i>
          <span>七天包退</span>
        </div>
        <div class="service-item">
          <i class="f-icon f-icon-zheng"></i>
          <span>正品保障</span>
        </div>
        <div class="service-item">
          <i class="f-icon f-icon-hao"></i>
          <span>好评如潮</span>
        </div>
        <div class="service-item">
          <i class="f-icon f-icon-shan"></i>
          <span>闪电发货</span>
        </div>
        <div class="service-item">
          <i class="f-icon f-icon-quan"></i>
          <span>权威荣誉</span>
        </div>
      </div>
      <div class="contact">
        <div class="contact-item contact-item-first"><i class="f-icon f-icon-tel"></i><span>123456789</span></div>
        <div class="contact-item">
          <a id="IM" im_type="dsc" onclick="openWin(this)" href="javascript:;" class="btn-ctn"><i class="f-icon f-icon-kefu"></i><span>咨询客服</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-new-con">
    <div class="fnc-warp">
      <div class="help-list">
        <div class="help-item">
          <h3>配送与支付 </h3>
          <ul>
            <li><a href="article.php?id=55" title="上门自提" target="_blank">上门自提</a></li>
            <li><a href="article.php?id=17" title="支付方式说明" target="_blank">支付方式说明</a></li>
            <li><a href="article.php?id=16" title="配送支付智能查询 " target="_blank">配送支付智能查询</a></li>
          </ul>

        </div>
        <div class="help-item">
          <h3>新手上路 </h3>
          <ul>
            <li><a href="article.php?id=36" title="隐私声明" target="_blank">隐私声明</a></li>
            <li><a href="article.php?id=11" title="订购方式" target="_blank">订购方式</a></li>
            <li><a href="article.php?id=10" title="购物流程" target="_blank">购物流程</a></li>
          </ul>

        </div>
        <div class="help-item">
          <h3>联系我们 </h3>
          <ul>
            <li><a href="article.php?id=26" title="投诉与建议 " target="_blank">投诉与建议</a></li>
            <li><a href="article.php?id=25" title="选机咨询 " target="_blank">选机咨询</a></li>
            <li><a href="article.php?id=24" title="网站故障报告" target="_blank">网站故障报告</a></li>
          </ul>

        </div>
        <div class="help-item">
          <h3>服务保证 </h3>
          <ul>
            <li><a href="article.php?id=23" title="产品质量保证 " target="_blank">产品质量保证</a></li>
            <li><a href="article.php?id=22" title="售后服务保证" target="_blank">售后服务保证</a></li>
            <li><a href="article.php?id=21" title="退换货原则" target="_blank">退换货原则</a></li>
          </ul>

        </div>
        <div class="help-item">
          <h3>会员中心</h3>
          <ul>
            <li><a href="article.php?id=20" title="我的订单" target="_blank">我的订单</a></li>
            <li><a href="article.php?id=19" title="我的收藏" target="_blank">我的收藏</a></li>
            <li><a href="article.php?id=18" title="资金管理" target="_blank">资金管理</a></li>
          </ul>

        </div>

      </div>
      <div class="qr-code">
        <div class="qr-item qr-item-first">
          <div class="code_img"><img src="images/common/ecjia_qrcode.png"></div>
          <div class="code_txt">ECJia</div>
        </div>
        <div class="qr-item">
          <div class="code_img"><img src="images/common/ectouch_qrcode.png"></div>
          <div class="code_txt">ECTouch</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-new-bot">
    <div class="w w1200">

      <p class="copyright_links">
        <a href="index.php">首页</a>

        <span class="spacer"></span>

        <a href="article.php?id=2">隐私保护</a>

        <span class="spacer"></span>

        <a href="article.php?id=4">联系我们</a>

        <span class="spacer"></span>

        <a href="article.php?id=1">免责条款</a>

        <span class="spacer"></span>

        <a href="article.php?id=5">公司简介</a>

        <span class="spacer"></span>

        <a href="merchants.php" target="_blank">商家入驻</a>

        <span class="spacer"></span>

        <a href="message.php">意见反馈</a>


      </p>

      <p class="copyright_links">

        <a href="http://" target="_blank" title="ECJia">ECJia</a>

        <span class="spacer"></span>
        <a href="http://" target="_blank" title="电商学院">电商学院</a>
      </p>

      <p><span>©&nbsp;2015-2018&nbsp;dscmall.cn&nbsp;版权所有&nbsp;&nbsp;</span><span>ICP备案证书号:</span><a href="http://www.miibeian.gov.cn/" target="_blank">15002903</a>&nbsp;POWERED by<a href="http://www.dscmall.cn/" target="_blank">大商创</a>2.0</p>

      <p class="copyright_auth">
        <a href="http://baidu.com" target="_blank" title="魂牵梦萦f" class="mr0">魂牵梦萦f</a>

      </p>

    </div>
  </div>


  <div class="hide" id="pd_coupons">
    <span class="success-icon m-icon"></span>
    <div class="item-fore">
      <h3>领取成功！感谢您的参与，祝您购物愉快~</h3>
      <div class="txt ftx-03">本活动为概率性事件，不能保证所有客户成功领取优惠券</div>
    </div>
  </div>


  <div class="hidden">
    <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="0">
    <input type="hidden" name="seller_kf_qq" value="12345">
    <input type="hidden" name="seller_kf_tel" value="123456789">
    <input type="hidden" name="user_id" ectype="user_id" value="0">
  </div>
</div>
