{#
/**
 * @file seat.html.twig
 * Default theme implementation to present Seat data.
 *
 * This template is used when viewing Seat pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_seat()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('seat') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
